<div class="content" role="main">
  <div class="sidebar">
    <p-sidebar [(visible)]="sidebarVisible" position="left">
      <div class="image-container"><img id="myImage" src="/assets/img/IFP.png"></div>
      <div *ngFor="let category of categories" class="field-checkbox">
        <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories" [inputId]="'checkbox-' + category"></p-checkbox>
        {{ category }}
      </div>      
    </p-sidebar>
  </div>

  <div class="main-content">
    <div class="custom-button-container">
      <p-button icon="pi pi-arrows-h" styleClass="p-button-secondary custom-button" (onClick)="openSidebar()"></p-button>
    </div>
  </div>

  <div class="container-row">
    <div class="container" id="container1">
      <h2>Lista Sedi</h2>
      <ul>
        <li *ngFor="let sede of listaSedi">{{ sede.nome }}</li>
      </ul>
    </div>
    <div class="container" id="container2">
      <!-- Contenuto del secondo container -->
      ciao broo2
    </div>
  </div>
  
  <div class="container-row">
    <div class="container-wide" id="container3">
      <!-- Contenuto del terzo container -->
      ciao bro 3
    </div>
  </div>
</div>

<router-outlet></router-outlet>